/* CSS Reset By Coco */

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body,
input,
button,
select,
textarea {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #6a26cd;
}

a:hover {
    color: #431488;
}

a:active {
    color: #6a26cd;
}

a:visited {
    color: #6a26cd;
}

html,
body,
#root {
    height: 100%;
}

ul,
ol {
    margin:0;
    padding:0;
    list-style: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    vertical-align: middle;
}

/* End Css Reset *//

