/* CSS Reset By Coco */

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body,
input,
button,
select,
textarea {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #6a26cd;
}

a:hover {
    color: #431488;
}

a:active {
    color: #6a26cd;
}

a:visited {
    color: #6a26cd;
}

html,
body,
#root {
    height: 100%;
}

ul,
ol {
    margin:0;
    padding:0;
    list-style: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    vertical-align: middle;
}

/* End Css Reset */
html{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.form , form{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 0% auto;
    justify-content: center;
    text-align: center;
    background: #BEE196;
    box-shadow: #74865d 5px 5px 4px 5px;
    z-index: 15;
}
#form{
    position:absolute;
    width: 50%;
    top: 10%;
    left: 60%;
}
#form button{
width: 50%;
margin: 0% auto;
}
#form form{
    padding: 5%;
    width: 80%;
}
#form form input{
    width: 80%;
    margin: 0% auto;
}
.home{
    background:#BEE196;
    width: 100%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: #74865d 5px 5px 5px 0px;
}
.logout{
    position: relative;
    font-size: 70%;
   text-decoration: none;
}
.input a:hover{
width: 35%;
}
.searchBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 0% auto;
    margin-top: 2%;
    padding: 3%;
    padding-top: 0%;
    padding-bottom: 2%;
}
.searchBar .input{
    display: flex;
    height: 10%;
    padding: 0%;
}
.searchBar input{
    width: 100%;
    margin-left: 50%;
}
.searchBar a{
    margin: 0%;
    padding: 0%;
    width: 20%;
}
.cards{
    display: flex;
    justify-content: center;
}
.cards div{
background:white;
border: black solid 1px;
padding: 0.5% 3% 0.9% 3%;
border-radius: 5% 5% 0% 0%;
box-shadow: #74865d 0px 0px 5px 2px;
}
.cards div:hover{
    background: #74865d;
}
#loginBtn{
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: 0% auto;
    justify-content: center;
}
#loginBtn a{
margin: 0% auto;
}
#loginBtn div{
margin: 0% auto;
}
#loginBtn:hover{
    color:  #74865d;
    font-size: 150%;
}
* .hide{
    display: none;
}
